.mainGrid
{
    /* outline: black dotted; */
    width: 100%;
    height: 90%;
    position: relative;
}
.row
{
    width:100%;
    height: 33.33%;
	  /* outline: white dotted; */
    position: relative;
}
.rowCell
{
    width: 33.33%;
    height:100%;
	  /* outline: blue dotted; */
    position: relative;
}

.rowCell.canvas
{
  height:100%;
  width:100%;
}
.rowCell .objectDiv
{
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 2%;
}
