.mainGrid
{
    width: 100%;
    height: 90%;
    position: relative;
}
.row
{
    width:100%;
    height: 50%;
    position: relative;
}
.rowCell
{
    width: 33.33%;
    height:100%;
    position: relative;
}

.rowCell.canvas
{
  height:100%;
  width:100%;
}
.rowCell .objectDiv
{
    margin-left: 9%;
    margin-right: 0%;
    margin-top: 2%;
}
