body
{
	margin: 0;
	font-family: helvetica;
	background-color: #ffffff;
	overflow: hidden;
}

section.inline { float: left; }

.sidebar
{
	background-color: #313131;
	text-align: right;
	color: #a6a6aa;
	width: 10%;
	height: 100%;
}

.mainContent
{
	background-color: #528084;
	width: 90%;
	color: #efefef;
	height: 100%;
	align-self: top;
}

.navigation
{
	padding-right: 10%;
}

.navigation:visited
{
	color: #ffffff;
}

.navigation:hover
{
	color: #ffffff;
}

a
{
	text-decoration: none;
	color: #a6a6aa;
}

.title
{
	font-size: 40px;
	width: 100%;
	height: 5%;
	position: relative;
}
