<section class="sidebar inline">
  <img src="images/logo.png" style="max-width: 100%; max-height: 100%;"></img>
  <a href="index.html"><p class="navigation">Home</p></a>
  <a href="gallery.html"><p class="navigation">Gallery</p></a>
  <a href="projects.html"><p class="navigation">Projects</p></a>
  <a href="about.html"><p class="navigation">About</p></a>
  <a href="news.html"><p class="navigation">News</p></a>
  <a href="getinvolved.html"><p class="navigation">Get Involved</p></a>
  <a href="contactus.html"><p style="color: #FFFFFF;" class="navigation">Contact Us</p></a>
</section>
